IM_MODEL_NAME=Qwen3-8B
IM_BASE_URL=http://127.0.0.1:12001/v1
IM_API_KEY=EMPTY

BM_MODEL_NAME=Qwen3-8B
BM_BASE_URL=http://127.0.0.1:12001/v1
BM_API_KEY=EMPTY

GENERATION_N=1
GENERATION_MAX_TOKENS=4096
GENERATION_TEMPERATURE=0.1
GENERATION_TOP_P=
GENERATION_REPETITION_PENALTY=1.1
GENERATION_PRESENCE_PENALTY=0.0

VLLM_API_KEY=EMPTY
VLLM_MODEL_PATH=/root/autodl-tmp/models/Qwen3-8B
VLLM_PORT=12001
VLLM_MAX_NUM_SEQS=8
VLLM_MAX_MODEL_LEN=8192
VLLM_GPU_MEMORY_UTILIZATION=0.90
